* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navigation part start */

.manu-section {
  display: flex;
  box-shadow: 12px 7px 12px gray;
}

.logo {
  width: 40%;
  padding: 18px 66px;
}

.manu {
  width: 60%;
}

.manu ul li {
  display: inline-block;
  padding: 34px 35px;
}

.manu ul li a {
  color: #252525;
  font-weight: 600;
}

.manu ul li a:hover {
  color: #fba24f;
}
/* Navigation part end */

/* header slider start */
.header {
  display: flex;
  background-color: #edf7ffd4;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-slider {
  width: 40%;
  margin-left: 70px;
}

.header-slider img {
  width: 100%;
  margin-left: 70px;
  margin-bottom: 50px;
}

.header-slider h1 {
  font-size: 50px;
  color: #575757;
  font-weight: 900;
  margin-top: 150px;
  margin-bottom: 20px;
}

.header-slider p {
  font-size: 20px;
  color: #575757;
}

.orange-color {
  color: orange;
}

.order-btn {
  padding: 13px 24px;
  text-decoration: none;
  background-image: linear-gradient(#fba24f, #ff1e1e);
  border-radius: 45px;
  display: inline-block;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
}

/* header slider end */

/* About me start */
.about-me {
  background-image: url(images/shapes/Frame\ 57.jpg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.my-about {
  width: 45%;
}

.my-about img {
  width: 70%;
  /* height: 90%; */
  padding-left: 44px;
  padding-top: 70px;
}

.my-about h1 {
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 30px;
  padding: 0px 25px;
  color: #676767;
}

.my-about p {
  padding: 20px 25px;
  line-height: 27px;
  color: #252525;
  font-weight: 600;
}

.contact-btn {
  padding: 13px 24px;
  text-decoration: none;
  background-image: linear-gradient(#5bcaff, #0267b7);
  border-radius: 45px;
  display: inline-block;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  margin-left: 25px;
  border: none;
  outline: none;
}

/*about me end */

/* Recipies start */

.recipi-section {
  margin-bottom: 100px;
}

.recipi-description {
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}

.recipi-description h1 {
  font-size: 35px;
  margin: 10px 0px;
  text-align: center;
  color: #676767;
}

.recipi-description p {
  padding: 4px 10px;
  text-align: center;
  color: #252525;
  line-height: 24px;
}

.recipi-card {
  display: flex;
  width: 100%;
  margin: auto;
}

.recipi-card .card {
  width: 380px;
  height: 530px;
  box-shadow: 6px 7px 19px grey;
  margin: auto;
  border-radius: 30px;
}

.recipi-card .card img {
  width: 90%;
  display: block;
  /* text-align: center; */
  margin: auto;
  margin-top: 20px;
}

.card .description-card {
  margin-top: 35px;
  padding: 0px 25px;
}

.card .description-card h1 {
  line-height: 2;
}

.card .description-card p {
  line-height: 28px;
}
/* Recipies end */

/* counter start */
.counter-section {
  display: flex;
  width: 80%;
  margin: auto;
  box-shadow: 5px 4px 24px grey;
  border-radius: 20px;
  margin-bottom: 100px;
  padding: 90px 0px;
  background-color: #008eff3b;
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-section .counter {
  display: block;
  margin: auto;
}

.counter-section .counter h1 {
  font-size: 40px;
  font-weight: 900;
}

.counter-section .counter p {
  font-size: 15px;
  font-weight: 200;
}

/* counter end */

/* contact us */
.contact-section {
  display: flex;
  width: 80%;
  height: 550px;
  background-color: rgb(24, 156, 233);
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 4px 2px 22px grey;
  border-radius: 12px;
}

.contact-left {
  width: 50%;
  background-image: url(images/food/—Pngtree—modern\ flat\ design\ concept\ of_5332905.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
}

.contact-left h1 {
  text-align: center;
  margin: 70px;
  color: #3480eb;
  font-size: 50px;
}

.contact-form {
  width: 50%;
}

.contact-form form {
  margin-top: 72px;
}

.contact-form input {
  display: block;
  margin: auto;
  padding: 10px 10px;
  width: 250px;
  margin-top: 35px;
  margin-left: 132px;
  border: none;
  border-radius: 12px;
  border: none;
  outline: none;
}

.contact-form input::placeholder {
  font-weight: 900;
}

.contact-form textarea {
  display: block;
  margin: auto;
  padding: 10px 10px;
  margin-top: 35px;
  width: 250px;
  margin-left: 132px;
  border: none;
  border-radius: 12px;
  border: none;
  outline: none;
}

.contact-form textarea::placeholder {
  font-weight: 900;
}

.contact-form a {
  display: block;
  margin: auto;
  width: 15%;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
  padding: 8px 21px;
  background-image: linear-gradient(rgb(144 83 222), rgb(36 32 138));
  color: white;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 0px 0px gray;
  border: none;
  outline: none;
}

/* contact end */

/* footer start */

footer {
  background-image: url(images/footer-bg.jpg);
  height: 190px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px gray;
}

.footer-section h1 {
  color: rgb(31, 28, 28);
  text-transform: uppercase;
  text-align: center;
  padding: 18px 0px;
}

.footer-section p {
  color: rgb(31, 28, 28);
  text-align: center;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
}

/*footer end */
